.muyu-body {
}
.muyu-nav {
  position: fixed;
}
#editor {
  height: 600px;
}
.muyu-footer {
  font-size: 85%;
}
.active {
  font-size: 1.1rem;
  font-weight: 450;
  color: #000;
}
.asciicast {
}
@media (max-width: 576px) {
  .muyu-nav {
    position: relative;
  }
}
